; Tilesets

{% for idx, tileset in data.sce_tilesets | items %}
Tileset_Entry_{{idx | hex(2)}}{{ "_"~tileset.name if tileset.name }}:
    dl {{tileset.tiles}}, {{tileset.tiletable}}, {{tileset.palette or "$0000"}}
{% endfor %}

Tileset_Table:
{% for idx in range((data.sce_tilesets | max | default(0)) + 1) %}
{% if idx in data.sce_tilesets %}
    {% set tileset = data.sce_tilesets[idx] %}
    dw Tileset_Entry_{{idx | hex(2)}}{{ "_"~tileset.name if tileset.name }}
{% else %}
    dw $0000
{% endif %}
{% endfor %}